/bin/
/target/
/out/
.idea
*.iml
*.class
*.xmi
.project
.classpath
.settings

# testing purpose
src/main/java/io/github/codepr/jas/Main.java
src/main/java/io/github/codepr/jas/TrivialActor.java
src/main/java/io/github/codepr/jas/TrivialMessage.java
